<div class="contents">
<h2><b>サービスの利用方法</b></h2>
<br><p>1.アカウントを持っている方は<%= link_to "ログイン", new_user_session_path %>、持っていない方は<%= link_to "新規登録", new_user_registration_path %>してください。</p>
<br><%= image_tag("") %>
<br><p>2.<%= link_to "SUBMIT", new_post_path %>をクリックしてフォームに必要な情報を入力して投稿してください。</p>
<br><%= image_tag("") %>
<br><p>3.投稿後にリダイレクトされるページのURLをコピーしてください。</p>
<br><%= image_tag("") %>
<br><p>4.<a href="https://twitter.com">Twitter</a>や<a href="https://www.facebook.com">Facebook</a>などのSNSにURLを貼付けてシェアしてください。</p>
<br><%= image_tag("") %>
</div>
